<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Index</title>

    <link href="https://fonts.googleapis.com/css?family=Arvo"
        rel="stylesheet">
    
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <link rel="stylesheet" href="../resources/css/index.css">
</head>

<body>
    <header>
        <div class="logo-section">
            <img src="../resources/images/logocolorat.png" alt="javascript:void(0)" class="logo">
        </div>
    </header>

    <main>
        <div class="row">
            <div class="col-md-6 index-statistics"></div>
            <div class="col-md-6 index-map"></div>
        </div>
        <div class="row text-center text-color-b">
        <span style="color:white">
            <p>VitalTWEETS brings social media and healthcare together by analyzing tweets and data from all over the globe,
                    monitoring the dynamics of biological hazards and making it accessible for everyone. See the statistics on what is happening right now 
                    or get an overview with the current diseases that people are talking about on Twitter.</p>
        </span>
        </div>
    </main>

    <footer class="page-footer font-small indigo">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                <div class="col-md-2 mb-3">
                    <h6 class="font-weight-bold">
                        <a href="#!" class="footer-text-color">About us</a>
                    </h6>
                </div>
    
                <div class="col-md-2 mb-3">
                    <h6 class="font-weight-bold">
                        <a href="#!" class="footer-text-color">Emergency Centers</a>
                    </h6>
                </div>

                <div class="col-md-2 mb-3">
                    <h6 class="font-weight-bold">
                        <a href="#!" class="footer-text-color">Contact</a>
                    </h6>
                </div>
            </div>

            <hr class="rgba-white-light" style="margin: 0 10%;">

            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
            
            <div class="row pb-3">
                <div class="col-md-12">
                    <div class="mb-5 flex-center social-media">
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                        </a>

                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                        </a>
                    
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
                        </a>
                        
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright

        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>

        Copyright -->    
    </footer>
</body>

</html>
