<!DOCTYPE html>
<html>

<head>
    <title>Vital Tweets</title>
    <link rel="icon" href="/images/logoclustercolorat.png">
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
</head>

<body>
    <header>
        <img class="logo" src="/images/logoalb.png">
    </header>
    <div class="container">
        <img src="/images/cuza.jpg" class="mainPhoto">
        <div class="message-top">
            <h1>Hello everyone!</h1>
            <p>Here this project started!</p>
        </div>
        <div class="message-bottom">
            <p>Country: ROMANIA</p>
            <p>City: IASI</p>
            <p>University: ALEXANDRU IOAN CUZA</p>
            <p>Faculty: FACULTY OF COMPUTER SCIENCE</p>
            <p>Year: 2</p>
            <p>Group: A2</p>
        </div>
    </div>
    <footer></footer>
</body>

</html>